.title,
.caption {
  text-align: center;
}

.form-user {
  position: relative;

  min-width: 320px;
  max-width: 425px;
  margin: 30px auto;

  &__input {
    margin-bottom: 10px;
    display: block;
  }

  // &__field {
  //   width: 320px;
  // }

  &__error {
    margin-top: 10px;
    // color: red;
  }

  &__button {
    margin-top: 20px;
  }
}

.contacts {
  min-width: 320px;
  max-width: 425px;
  margin: 0 auto;
}

#feedback {
  position: absolute;

  font-size: 14px;
  color: rgb(255, 8, 8);
}
