body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.caption {
  font-size: 35px;
}

.title {
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);

  font-size: 18px;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.link.active {
  color: rgb(238, 188, 95);
}
